body {
    font-family: 'Roboto', sans-serif;
    margin: 0px; 
}

/*section one*/

.section-one {
    background-color: #1f2937;
    color: white;
    padding: 1% 13% 9%;   
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0px;
    margin-bottom: 10px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb; 
    margin: 0px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0px;
    color: #e5e7eb;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: extra-bold;
}

.hero-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 80px;
}

.sign-up {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    border: none;
    padding: 8px 25px;
    font-weight: bold;
    margin: 0px;
}

.hero-image {
    flex-basis: 1000px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*section two*/

.section-two {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 150px;
}

.information-header-text {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
}

.items {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.item {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    background-color: white;
}

.text {
    margin-top: 125px;
    text-align: center;
    font-size: 18px;
    color: grey;
}

/*section three*/

.section-three {
    background-color: #e5e7eb;
    padding: 85px 300px 57px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic; 
    font-weight: lighter;
}

.author {
    color: #1f2937;
    font-weight: 900;
    text-align: right;
}

/*section four */

.section-four {
    background-color: #3882f6;
    margin: 70px 150px;
    padding: 50px 100px 50px;
    display: flex;
    border-radius: 10px;
    color: white;
}


.section-four h5 {
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

.section-four p {
    margin: 0px;
    padding: 0px;
    font-weight: lighter;
}

.section-four button {
    margin-left: auto;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    background: inherit;
    align-self: center;
    padding: 5px 22px 5px;
    font-weight: bold;
}


/*footer*/

.footer {
    background-color: #1f2937;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 15px;
}









